@model PagedList.IPagedList<Eccomerce_shop.Models.Product.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Home Page";
}

<div class="olContent f1"><h2 style="color:black">Search Product By name</h2></div>
<div class="olSearch fr">
    <input type="text" placeholder="Enter Keyword" name="searchKey" class="inputComn houseText form-control" />
    <div class="searchIcon">
        <button type="button" class="searchBtn">
            <i class="fa fa-search"></i>
        </button>
    </div>


</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Our Producrs <small>trends products</small></h2>
        </div>
    </div>
</div>
<div class="row">
    <span> filter by : </span>
    <select id="categories" onchange="filterByCategory()">.
        <option selected disabled>Selected : @ViewBag.category</option>
        <option value="poster">Poster</option>
        <option value="T-Shirt">T-Shirt</option>
        <option value="Mug">Mug</option>
    </select>
</div>
<div class="product-gallery">
    @foreach (var product in Model)
    {
        @Html.Partial("~/Views/Components/product.cshtml",product)
    }
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
</div>
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, categoryName = ViewBag.category}))
<script  type="text/javascript">
    function filterByCategory() {
        let category = $("#categories").val();
        var path = '@Url.Content("~/Home/Index")' + "?categoryName=" + category;
        $(this).attr("location", path);
    }

    function redirectToProductDetails(pid) {
        var path = '@Url.Content("~/ProductDetails/ProductData")' + "?productId=" + pid;
        $(this).attr("location", path);
    }

    function initCart() {
        var cart = JSON.parse(window.localStorage.getItem("cart"));
        if (cart == undefined) {
            window.localStorage.setItem("cart", JSON.stringify({
                id: 123,
                items: []
            }));
        } else {
            cart.items.forEach(item => {
                setAmount(item.qty, item.id);
            })
            $.post("/Home/InitCart",{ cart: cart });
        }
        
    }

    onload = initCart;
</script>